[submodule "sources/pyside2-tools"]
	path = sources/pyside2-tools
	branch = 5.6
	url = ../pyside-tools.git
[submodule "sources/pyside2-examples"]
	path = sources/pyside2-examples
	branch = 5.6
	url = ../examples.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/PySide/pyside2.wiki.git
