#
# MANIFEST.in
#
# Manifest template for creating the PySide source distribution.

include MANIFEST.in
include CHANGES.rst
include README.rst
include ez_setup.py
include setup.py
include popenasync.py
include qtinfo.py
include utils.py

# sources
recursive-include sources/patchelf **
recursive-include sources/shiboken2 **
recursive-include sources/pyside2 **
recursive-include sources/pyside2-tools **
# ignore .git
recursive-exclude sources/shiboken2/.git **
recursive-exclude sources/pyside2/.git **
recursive-exclude sources/pyside2-tools/.git **

# PySide package
recursive-include pyside_package/PySide2 **
recursive-include pyside_package/PySide2/docs **
recursive-include pyside_package/PySide2/plugins **
recursive-include pyside_package/PySide2s **
recursive-include pyside_package/PySide2/translations **
recursive-include pyside_package/PySide2include **
recursive-include pyside_package/PySide2/typesystems **
recursive-include pyside_package/PySide2/examples **

# pysideuic package
recursive-include pyside_package/pysideuic **
recursive-include pyside_package/pysideuic/Compiler **
recursive-include pyside_package/pysideuic/port_v2 **
recursive-include pyside_package/pysideuic/port_v3 **
recursive-include pyside_package/pysideuic/widget-plugins **
