#
# MANIFEST.in
#
# Manifest template for creating the PySide source distribution.

include MANIFEST.in
include distribute_setup.py
include setup.py
include pyside_postinstall.py
include popenasync.py
include qtinfo.py
include utils.py

# sources
recursive-include sources/patchelf **
recursive-include sources/shiboken **
recursive-include sources/pyside **
recursive-include sources/pyside-tools **
recursive-include sources/pyside-examples **
recursive-exclude sources/pyside-examples/examples/hyperui **
recursive-exclude sources/pyside-examples/mobility **
# ignore .git
recursive-exclude sources/shiboken/.git **
recursive-exclude sources/pyside/.git **
recursive-exclude sources/pyside-tools/.git **
recursive-exclude sources/pyside-examples/.git **

# PySide package
recursive-include pyside_dist/PySide **
recursive-include pyside_dist/PySide/docs **
recursive-include pyside_dist/PySide/plugins **
recursive-include pyside_dist/PySide/imports **
recursive-include pyside_dist/PySide/translations **
recursive-include pyside_dist/PySide/include **
recursive-include pyside_dist/PySide/typesystems **
recursive-include pyside_dist/PySide/examples **

# pysideuic package
recursive-include pyside_dist/pysideuic **
recursive-include pyside_dist/pysideuic/Compiler **
recursive-include pyside_dist/pysideuic/port_v2 **
recursive-include pyside_dist/pysideuic/port_v3 **
recursive-include pyside_dist/pysideuic/widget-plugins **
